body, button {
  font:normal 14px/20px DroidSans,Arial,sans-serif
}
body {
  background:url('background.png') #fff;
  color:#222;
  }
a { color: #8c0f26; }
h1 {
  width:580px;
  line-height:40px;
  font-size:24px;
}
div.container {
  width:800px;
}
p {
  padding:10px 0;
  }
.left {
  padding:10px;
  position:absolute;
  top:0;
  left:0;
  border-right:1px solid #dce3c2;
  width:379px;
}
#map {
  background:#ba707d;
  position:absolute;
  right:0;
  top:0;
  bottom:0;
  left:400px;
}
/*
.map-tile {
  opacity:0;
}
*/
/*
.map-tile-loaded {
  -webkit-animation-name: 'fade-in';
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: .001s;
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
*/

/* Special sauce */
pre::-webkit-scrollbar {
  height:8px;
  width:8px;
  background:#f8f8f8;
  border-radius:4px;
  }

pre::-webkit-scrollbar-thumb:hover {
  background:#555;
}

pre::-webkit-scrollbar-thumb {
  border-radius:4px;
  background:#ccc;
  }

pre::-webkit-scrollbar-thumb:vertical { height:25px; }
pre::-webkit-scrollbar-thumb:horizontal { width:25px; }

.periscope-box {
  position:absolute;
  display:block;
  z-index:10000;
  background:rgba(255,255,255,0.1);
  border:1px dotted #fff;
}

.periscope-box span {
  display:none;
}

.periscope-box:hover span {
  display:block;
}

#links a {
  background-color: #8c0f26;
  color:#fff;
  padding:2px;
  margin:0 3px;
  line-height:25px;
  text-decoration:none;
}

#links a:hover {
  background:#000;
}

#region_header {
  position:absolute;
  top:0;
  left:400px;
  background:#fff;
  z-index:1000;
  padding:10px;
}

#region_header h1 {
  font-size:30px;
}

a#nextbase {
  display:block;
  font-size:20px;
  padding:10px;
  background-color:#ba707d;
  color:#fff;
}

h3.big {
  font-size:20px;
  color:#ba707d;
  line-height:30px;
}
